body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #111;
    color: #eee;
}

.main-menu-logo {
    padding: 0px 45px 0px 54px;
    display: inline-block;
    position: fixed;
    background: #222;
    background-image: url(../img/menu_icon.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    z-index: 1;
    cursor: pointer;
}

.main-menu-logo-small {
    position: fixed;
    width: 100px;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    z-index: 1;
    cursor: pointer;
    background: #222;
    background-image: url(../img/menu_icon.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}

#main-menu {
    background: #222;
    width: 200px;
    position: fixed;
    margin-top: 68px;
    z-index: 1;
}

.shown {
    display: block;
    visibility: visible;
}

.hidden {
    display: none;
    visibility: hidden;
}

.main-menu-button {
    margin-bottom: 15px;
    margin-left: 10px;
    padding: 10px;
    min-width: 180px;
}

.apps {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#panels {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.panel {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 2px solid #111;
    min-width: 230px;
    min-height: 20px;
    position: absolute;
    background-color: #555;
}

.panel-stashtabsale
.panel-textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.panel-name {
    height: 22px;
    margin: -10px -10px 0px -10px;
    text-align: left;
    font-size: large;
    background-color: #333;
    resize: none;
    border-width: 0px 0px 0px 25px;
    border-color: #333;
    outline: none;
    color: #eeeeff;
}

.panel-content {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    resize: both;
    border: none;
    outline: none;
    color: #eeeeff;
    padding-top: 2px;
    margin-bottom: -5px;
}

.panel-controls {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: 100%;
}

.panel-edit,
.panel-move,
.panel-delete {
    margin: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 0px;
    background-color: transparent;
    color: white;
}

.panel-move {
    width: calc(100% - 50px);
    cursor: move;
}

.panel-delete {
    width: 25px;
    cursor: pointer;
}

.panel-edit {
    width: 25px;
    cursor: pointer;
    background-image: url("../img/menu_icon.png");
    background-size: cover;
}

.drop-zone {
    position: absolute;
    background-color: #49b;
    pointer-events: none;
}

.panel-copy-all {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: -2px;
    margin-bottom: -2px;
}

.panel-move:hover,
.panel-delete:hover {
    color: #f00;
}

.notification {
    opacity: 1;
    display: block;
    transition: opacity 1s ease-out;
    color: white;
    font-size: 30px;
    text-align: center;
    position: fixed;
    top: 90vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    z-index: 100;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 400px;
}

    .notification.hidden {
        opacity: 0;
        display: none;
    }


.regex-input-window,
#regex_window,
#map_mod_window {
    background-color: #333;
    margin-left: -10px;
    margin-top: 10px;
    margin-right: -10px;
    font-size: 2em;
    color: white;
    border: none;
    padding: 16px 10px;
    width: -webkit-fill-available;
    width: -moz-available;
}

.regex-gwennen-item {
    padding: 5px;
    display: grid;
}

.regex-gwennen-same-base {
    display: flex;
    border-style: dashed;
    border-color: #444;
}

#blight-extractor-counter,
#regex_window_length,
#map_mod_window_counter {
    text-align: right;
    margin-top: -20px;
    font-size: 0.8em;
}

.map_mod_text {
    padding: 5px;
}

#map_mod_bad_list {
    padding: 5px;
    border: #411;
    border-width: 0 0 0 5px;
    border-style: solid;
}

.map_mod_bad_list {
    margin: 3px;
    text-align: left;
    background-color: #444;
    width: calc(100% - 6px);
}

.map_mod_good_list {
    margin: 3px;
    text-align: left;
    background-color: #444;
    width: calc(100% - 6px);
}

#map_mod_good_list {
    padding: 5px;
    border: #141;
    border-width: 0 0 0 5px;
    border-style: solid;
}

#blight-extractor-copy,
#regex_window_copy,
#map_mod_window_copy {
    position: absolute;
    top: 55px;
    right: 5px;
    width: 20px;
    height: 20px;
}

#panel-regex-map-clear-all {
    background-color: #933;
    text-align: left;
    margin-right: 10px;
    margin-top: 5px;
    position: absolute;
    right: 0;
}

.chaos-value {
    text-align: right;
    background-color: #333;
    padding: 2px;
    min-width: 50px;
    background-image: url("https://web.poecdn.com/gen/image/WzI1LDE0LHsiZiI6IjJESXRlbXMvQ3VycmVuY3kvQ3VycmVuY3lSZXJvbGxSYXJlIiwidyI6MSwiaCI6MSwic2NhbGUiOjF9XQ/d119a0d734/CurrencyRerollRare.png");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}

table {
    border-collapse: collapse;
    max-width: 100%;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none; /* Standard */
}

td, th {
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: #ddd1;
    text-align: center;
    height: 140px;
    font-size: 14px;
}

.syndicate-img {
    width: 100px;
    height: 100px;
}

.highlighted-row {
    border-top: 3px;
    border-bottom: 3px;
    border-style: dashed;
    border-color: #099;
}

.highlighted-column {
    border-left: 3px;
    border-right: 3px;
    border-style: dashed;
    border-color: #099;
}

.syndicate-name-text {
    margin-top: -20px;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9), -2px -2px 4px rgba(0, 0, 0, 0.9);
}

.syndicate-cell-text {
    margin-top: -30px;
    font-size: 13px;
    text-shadow: -1px -1px 0 #000, 
        1px -1px 0 #000, 
        -1px 1px 0 #000, 
        1px 1px 0 #000;
}

.line-vertical {
    width: 2px;
    margin: 5px;
    background-color: #333;
}

#syndicate-transportation,
#syndicate-fortification,
#syndicate-research,
#syndicate-intervention {
    text-align: center;
}

#syndicate-size,
#syndicate-full {
    margin-right: 20px;
    margin-bottom: -10px;
    transition: transform 0.3s;
}


.incursion-big-table,
.syndicate-big-table {
    background: #111;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: absolute;
    margin-top: -5%;
    padding-top: 10%;
    z-index: 100;
}

.syndicate-image-cointeiner {
    display: flex;     
    justify-content: center;
}

#colorGood,
#colorMediocre,
#colorBackground {
    width: 150px;
    cursor: pointer;
}

input[type="color"] {
    border-radius: 5px;
    padding: 0px;
    border: 0px solid #DDD;
}

    input[type="color"]:hover {
        transform: scale(1.1);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        font-size: 1.1em;
    }

    input[type="color"]::-moz-color-swatch {
        padding: 0px;
        border: 0px;
        border-radius: 0px;
    }

    input[type="color"]::-webkit-color-swatch-wrapper {
        padding: 0px;
        border: 0px;
        border-radius: 0px;
    }

    input[type="color"]::-webkit-color-swatch {
        padding: 0px;
        border: 0px;
        border-radius: 0px;
    }

#syndicate-back,
#syndicate-reset,
#syndicate-save-as-image {
    background-color: #555;
    border: 1px solid #111;
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
    min-width: 150px;
    cursor: pointer;
    text-align: justify;
    padding: 0 0 0 10px;
}

button {
    border: 2px solid #333;
    background-color: #555;
    color: white;
    padding: 5px;
    cursor: pointer;
}

    button:hover {
        border-style: dotted;
        transform: scale(1.1);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        background-color: #666;
    }

.incursion-tier {
    display: flex;
    align-items: center;
}

.incursion-tier {
    background-color: #333;
    margin: 5px 0px 5px 0px;
    padding: 5px 10px 5px 0px;
}

.incursion-tier-name {
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

#incursion-tier-s,
#incursion-tier-a {
    margin-top: 4px;
    display: flex;
}

.incursion-img {
    margin-top: 4px;
    padding: 9px 13px 9px 13px;
}

.incursion-cell {
    border: 4px solid #111;
    text-align: center;
    cursor: pointer;
}

.cell {
    cursor: pointer;
}

#blight-extractor-add-more {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.blight-anoitment-line {
    display: flex;
    align-items: center;
    max-width: 500px;
}

#panel-blight-anoitment-window {
    text-align: center;
    font-size: 1.2em;
}

#panel-blight-anoitment-search {
    text-align: center;
    font-size: 1.2em;
    margin-left: 0px;
    margin-right: 0px;
    padding: 8px 5px;
}

.background-gradient-danger {
    background: linear-gradient(to bottom, #0000, #555, #555, #555), 
                linear-gradient(to right, #0000, #f00b, #0000); 
    background-position: center, center;
    background-repeat: no-repeat;
}

.background-gradient-popularity {
    background: linear-gradient(to bottom, #0000, #555, #555, #555), 
                linear-gradient(to right, #0000, #0f07, #0000);
    background-position: center, center;
    background-repeat: no-repeat;
}

.map-mod-selected {
    border-width: 2px 2px 2px 10px;
    border-color: #38f;
    padding-left: 10px;
}

.input-small {
    background-color: #333;
    color: #fff;
    width: 50px;
    border: none;
    height: 26px;
    text-align: center;
}

.input-search {
    background-color: #333;
    color: #fff;
    border: none;
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0px 10px 0px;
}

.regex-coffin-item {
    display: flex;
    align-items: center;
}

.regex-coffin-cointainer-shown {
    display: block;
    margin-bottom: 10px;
    margin-top: -8px;
    background-color: #444;
}

.regex-coffin-cointainer-hidden {
    display: none;
    margin-bottom: 10px;
    margin-top: -8px;
    background-color: #444;
}